<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtmLueFfm3_rjpOwgyHUXedDUZOxNyfn8</string>
	<key>GCM_SENDER_ID</key>
	<string>684215639062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reference.app.dev</string>
	<key>PROJECT_ID</key>
	<string>reference-app-dev-e4898</string>
	<key>STORAGE_BUCKET</key>
	<string>reference-app-dev-e4898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684215639062:ios:5d6b9e5c1bfacf7f7aa937</string>
</dict>
</plist>